<html>
<body style="background-color: #bbbbbb">
<div style="margin-left: 35px">
    <h2>{{username}}'s Favorite List</h2>
</div>

<!--Should display the current users favorite poems-->
<p>
{{#each favoriteList}}
    <h3>{{listName}}</h3>
{{/each}}
</p>

</div>
</body>
</html>