<body style="background-color: #bbbbbb">

<br><br>
<div class = "container">
    <h3>Welcome to Poesis!</h3>
    <p> Read poetry from New York University's own English major, Elizabeth De Leon.</p>
    <p> Search through our database or create your own personal Poetic Den</p>
</div>


</body>