<body style="background-color: #bbbbbb">
<!--<div class="container" style = "width: 100%; text-align: center">-->
    <div class="row">
        <div class="col-md-2" style = "width: 100%; margin: 0 auto">
            <form class="form-horizontal" action='' method="POST">
                <fieldset>
                    <div id="legend">
                        <legend>Register</legend>
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <div class="controls">
                            <input type="text" id="username" name="username" class="form-control input-xlarge ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" class="form-control input-xlarge">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="controls">
                            <button class="btn btn-default">Register</button>
                        </div>
                    </div>
                </fieldset>
                <p>{{message}}</p>
            </form>
        </div>
    </div>
<!--</div>-->
</body>